body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.navbar .nav-link {
    color: #000;
    font-size: calc(14px + 0.6vw);
}

.main {
    border: #000;
    border-radius: 25%;
}

.footer-style {
    background: rgb(1, 0, 8);
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
}
    
.footer-style p {
    margin: 0;
}

.footer-style .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-style .col-md-6 {
    flex: 0 0 50%; 
}